use * as crypto from "node:crypto"
use { SHA256, QuickHash } from @slim/types/hash

export default const StringHelper: object = {
    len(str: string): int {
        if(kindof str == "string") return str.length
    },
    truncate(str: string, maxLength: int): string {
        if (str.length > maxLength) {
            return str.slice(0, maxLength) + '...';
        }
        return str;
    },
    hash(str: string): SHA256 {
        return crypto.createHash("sha256").update(str).digest("hex")
    },
    quickHash(str: string): QuickHash {
        let hash = 0;
        for (let i = 0; i < str.length; i++) {
            hash = (hash << 5) - hash + str.charCodeAt(i);
            hash |= 0;
        }
        return hash;
    }
}

lock StringHelper;