export type number(v) {
    return kindof v == "int" or kindof v == "float"
}
export type nonZero(v) {
    return number(v) && v != 0
}
export type even(v) {
    return kindof v == "int" && v % 2 == 0
}
export type odd(v) {
    return kindof v == "int" && v % 2 != 0
}