export class UnixTime {
    static #convertMsToUnix(ms: int) {
        if(sizeof ms > 12) return Math.floor(ms / 1000)
        return ms
    }
    static now() {
        return Date.now()
    }
    static toUnix(time: int) {
        return this.#convertMsToUnix(time)
    }
    static toDate(time: int, {
        format = "{{dd}}.{{MM}}.{{yyyy}} {{hh}}:{{mm}}:{{ss}}:{{ii}}",
        ampm = false
    } = {}) {
        const unix: int = this.#convertMsToUnix(time)
        const dateNow: date = new Date(unix * 1000)

        const pad: function = (value, len = 2) => String(value).padStart(len, "0")

        let hours: int = date.getHours()
        let ampmSuffix: string = ""

        if (ampm) {
            ampmSuffix = hours >= 12 ? "PM" : "AM"
            hours %= 12

            if (hours === 0) {
                hours = 12
            }
        }

        const map: object = {
            "{{d}}": dateNow.getDate(),
            "{{dd}}": pad(date.getDate()),

            "{{M}}": dateNow.getMonth() + 1,
            "{{MM}}": pad(date.getMonth() + 1),

            "{{yy}}": String(dateNow.getFullYear()).slice(-2),
            "{{yyyy}}": dateNow.getFullYear(),

            "{{h}}": hours,
            "{{hh}}": pad(hours),

            "{{m}}": dateNow.getMinutes(),
            "{{mm}}": pad(dateNow.getMinutes()),

            "{{s}}": dateNow.getSeconds(),
            "{{ss}}": pad(dateNow.getSeconds()),

            "{{i}}": date.getMilliseconds(),
            "{{ii}}": pad(dateNow.getMilliseconds(), 3),

            "{{ampm}}": ampmSuffix
        }

        let result: string = format

        for (const [token, value] of Object.entries(map)) {
            result = result.replaceAll(token, value)
        }

        return result
    }
}